<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="shortcut icon" href="img/favicon.png" />
  <meta name="og:type" content="website" />
  <meta name="twitter:card" content="photo" />
  <link rel="stylesheet" type="text/css" href="stylesheets/a0starbanking.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/styleguide.css" />
  <meta name="author" content="AnimaApp.com - Design to code, Automated." />
</head>

<body style="margin: 0; background: rgba(255, 255, 255, 1)">
  <input type="hidden" id="anPageName" name="page" value="a0starbanking" />
  <div class="anima-container-center-horizontal">
    <div class="a0starbanking anima-screen" anima-show-on-scroll>
      <div class="rectangle-C61RwL" anima-show-on-scroll></div>
      <div class="group-2-C61RwL" anima-show-on-scroll>
        <div class="rectangle-zUixHA" anima-show-on-scroll></div>
        <div class="uc774ub3d9uc7ac-zUixHA" anima-show-on-scroll>이동국</div>
      </div>
      <img onClick="location.href='a1.html'" class="oval-C61RwL" anima-show-on-scroll
        src="img/0starbanking-oval-E34B6AE7-5D51-41A2-8D36-EAA663BADDDF@2x.png" />
      <div onClick="location.href='a1.html'" class="duc11cube44uc2a4-C61RwL font-class-1" anima-show-on-scroll>D서비스
      </div>
      <div onClick="location.href='a1.html'" class="uc740ud1f4-uc804ub7b5-C61RwL font-class-1" anima-show-on-scroll>
        은퇴인출전략</div>
    </div>

  </div>
</body>

</html>