<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="shortcut icon" href="./img/favicon.png" />
  <meta name="og:type" content="website" />
  <meta name="twitter:card" content="photo" />
  <link rel="stylesheet" type="text/css" href="stylesheets/a1.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/styleguide.css" />
  <meta name="author" content="AnimaApp.com - Design to code, Automated." />
</head>

<body style="margin: 0; background: rgba(255, 255, 255, 1)">
  <input type="hidden" id="anPageName" name="page" value="a1" />
  <!-- <div class="anima-container-center-horizontal"> -->
  <div class="a1 anima-screen" anima-show-on-scroll>
    <div class="group-2-C61RwL" anima-show-on-scroll>
      <div class="rectangle-zUixHA" anima-show-on-scroll></div>
      <div class="rectangle-sdxwGy" anima-show-on-scroll></div>
      <img class="img0459-zUixHA" anima-show-on-scroll src="img/6---img0459-F59D8A04-E243-4F98-A687-5EB9E3A952F9.png" />
      <div class="rectangle-kTiyrb" anima-show-on-scroll></div>
      <div class="duc11cube44uc2a4-zUixHA font-class-7" anima-show-on-scroll>D서비스</div>
    </div>
    <img class="img0459-C61RwL" anima-show-on-scroll src="img/3-img0459-67CA5EEB-B18F-42DA-B9B9-245596E4CB79.png" />
    <div class="ub77cuc774-ubca4ud2b8-C61RwL" anima-show-on-scroll>라이프 이벤트</div>
    <div class="ub77cuc774-ubca4ud2b8-VMr6Om font-class-1" anima-show-on-scroll>라이프 이벤트</div>
    <div class="group-4-C61RwL" anima-show-on-scroll>
      <div class="uc790ub140-uacb0ud63c-KOsP6k font-class-1" anima-show-on-scroll>자녀 결혼</div>
      <div class="x100000000-KOsP6k font-class-2" anima-show-on-scroll>100,000,000</div>
    </div>
    <div class="group-4-VMr6Om" anima-show-on-scroll>
      <div class="uc9d1-ub9a-ub378ub9c1-eThRcb font-class-1" anima-show-on-scroll>집 리모델링</div>
      <div class="x20000000-eThRcb font-class-2" anima-show-on-scroll>20,000,000</div>
    </div>
    <div class="group-4-mzXdH9" anima-show-on-scroll></div>
    <div class="uc5f0ub839-uc815ubcf4-C61RwL font-class-3" anima-show-on-scroll>
      연령 및 자산 규모에 따른 통계 정보를 반영하여 <br />자동으로 입력되었습니다.
    </div>
    <div class="ud544uc694uc790uae08-C61RwL font-class-1" anima-show-on-scroll>필요자금</div>
    <div class="ucd94uac00ud558uae30-C61RwL font-class-1" anima-show-on-scroll>추가하기</div>
    <img class="oval-C61RwL" anima-show-on-scroll src="img/4--oval-D6AAC3E0-6A47-44CF-B4E8-9B645DFCA7AF@2x.png" />
    <div class="group-7-C61RwL" anima-show-on-scroll>
      <div class="group-9-SO40Oe" anima-show-on-scroll>
        <div class="rectangle-9e7LwL" anima-show-on-scroll></div>
        <div class="rectangle-C5smAi" anima-show-on-scroll></div>
      </div>
    </div>
    <div class="group-43-C61RwL" anima-show-on-scroll>
      <div class="group-7-NuAwbu" anima-show-on-scroll>
        <div class="uc790ub140-c5ec-uc218-kAwTo2 font-class-3" anima-show-on-scroll>
          자녀 결혼 전까지 자산을 활용하여 <br />수익을 낼 수 있는 상품을 추천해드립니다.&nbsp;&nbsp;
        </div>
        <div class="group-116-kAwTo2" anima-show-on-scroll>
          <div class="group-14-Zp07ZH" anima-show-on-scroll></div>
        </div>
      </div>
      <img class="rectangle-copy-NuAwbu" anima-show-on-scroll
        src="img/---rectangle-copy-75D6414B-D946-4475-B2F9-8621CFAF2A05@2x.png" />
      <img class="rectangle-copy-A3frlC" anima-show-on-scroll
        src="img/---rectangle-copy-75D6414B-D946-4475-B2F9-8621CFAF2A05@2x.png" />
      <div class="uace8ub4e0-uc608uae08-NuAwbu font-class-1" anima-show-on-scroll>골든라이프<br />연금우대예금</div>
      <div class="ubb34ubc30-f4ud5d8-ii-NuAwbu font-class-1" anima-show-on-scroll>
        무배당 플래티넘 <br />연금보험 II
      </div>
      <div class="uc5f0uae08-ud558uc2dc-NuAwbu font-class-3" anima-show-on-scroll>
        연금 실적이 있거나 가족고객 <br />등록하시면 우대이율 드리는
      </div>
      <div class="x10ub144-ua-ub960-1271-NuAwbu font-class-3" anima-show-on-scroll>
        10년 경과 시 환급률 127.1%, <br />중도인출 가능한
      </div>
    </div>
  </div>
  <!-- </div> -->
</body>

</html>