<!DOCTYPE html>
  <head>
    <link rel="apple-touch-icon" href="images/icon_114x114.png" />
    <link rel="shortcut icon" href="images/icon_72x72.png" />
    <link rel="stylesheet" type="text/css" href="stylesheets/carousel.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
    <script type="module" src="javascripts/index_v1_1.mjs"></script>
    <!-- CHART -->
    <link rel="stylesheet" type="text/css" href="stylesheets/chartJs.css">

    <script type="text/javascript" src="javascripts/Chart.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/slider.css">
  </head>
  <body>
    <!-- HEADER -->
    <section class="common_header_container">
        <div class="common_header_wrapper">
            <div class="header_head">
                <div class="prev_btn"></div>
                <div class="head_text">시니어 신사업</div>
            </div>
            <div class="header_icons">
                <div class="search_btn"></div>
                <div class="total_btn"></div>
            </div>
        </div>
    </section>
      <!-- MAIN -->
      <section class="page_container">
        <section class="carousel_container">
          <ul class="carousel_wrapper">
            <!-- ACTIVITY1 -->
            <li class="carousel_el">
              <div class="totalincome_container">
                <div class="totalincome_month">
                  <span class="ti_text">230</span>만원
                </div>
                <div class="ti_textsub">월평균 수입</div>
                <div class="totaldetail_wrapper">
                  <div class="total_detail">
                    <div class="td_amount">
                      <span class="td_amount_input">160</span>만원
                    </div>
                    <div class="td_subtitle">
                      월평균 <span>연금자산</span>
                    </div>
                  </div>
                  <div class="total_detail td_last">
                    <div class="td_amount">
                      <span class="td_amount_input">70</span>만원
                    </div>
                    <div class="td_subtitle">
                      월평균 <span>금융자산</span>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="graph_toggle_container">
                <li value="0" class="graph_toggle gt_focused">전체</li>
                <li value="1" class="graph_toggle">구간</li>
                </ul>            
              <section class="graph_list">
                  <div class="graph_element" style="left:0%;">
                    <div class="chartJS_wrapper" style="padding-bottom: 2.5%;">
                      <div class="stockdisplay_container">
                          <div class="stockdisplay_agewrap">
                              <span class="stockdisplay_agecontrol"></span>세 월수령액 : 
                              <span class="stockdisplay_month_income"></span>
                          </div>
                          <div class="STpension_container"></div>
                      </div>
                      <div class="chartJS_text">
                          은퇴이후 55~65세에<br>
                          은퇴 자금 부족이 심할 것으로<br>
                          예상됩니다.
                      </div>
      
                      <div class="canvas_container">
                          <div class="yaxis_container">
                              <ul class="yaxis_wrapper">
                                  <hr class="chartJS_spendline"/>
                                  <div class="chartJS_spendtext">건강형</div>
                                  <li class="yaxis_cost">
                                      <span class="none_col yaxis_cost">0</span>0
                                      <span class="yaxis_grid"></span> 
                                  </li>
                                  <li><span class="none_col">0</span>5</li>
                                  <li class="yaxis_cost">
                                      10
                                      <span class="yaxis_grid"></span>
                                  </li>
                                  <li>15</li>
                                  <li class="yaxis_cost">
                                      20
                                      <span class="yaxis_grid"></span>
                                  </li>
                                  <li>25</li>
                                  <li class="yaxis_cost">
                                       30
                                       <span class="yaxis_grid"></span>
                                  </li>
                                  <li>35</li>
                                  <li class="yaxis_cost">
                                      40
                                      <span class="yaxis_grid"></span>
                                  </li>
                                  <li>45</li>
                              </ul>
                          </div>
                          <div class="canvas_wrapper">
                              <canvas id="myChart" width="3" height="1"></canvas>
                          </div>
                      </div>
                      <ul class="chartJS_agecontainer">
                         
                          <li class="xaxis_age">
                              <div class="xaxis_grid"></div>
                              55
                          </li>
                          <li class="xaxis_age">
                              <div class="xaxis_grid"></div>
                              60
                          </li>
                          <li class="xaxis_age">
                              <div class="xaxis_grid"></div>
                              65
                          </li>
                          <li class="xaxis_age">
                              <div class="xaxis_grid"></div>
                              70
                          </li>
                          <li class="xaxis_age">
                              <div class="xaxis_grid"></div>
                              75
                          </li>
                          <li class="xaxis_age"> 
                              <div class="xaxis_grid"></div>
                              80
                          </li>
                          <li class="xaxis_age">
                              <div class="xaxis_grid"></div>
                              85
                          </li>
                          <li class="xaxis_age">
                              <div class="xaxis_grid"></div>
                              90
                          </li>
                      </ul>
                    </div> 
                  </div>
                  <!-- <div class="graph_element" style="left:0%;background-color: pink;"></div>   -->
                  <div class="graph_element" style="left:100%;background-color: pink;"></div> 
              </section>
            </li>
            <li class="carousel_el" style="background:pink;left:100%;"></li>
            <li class="carousel_el" style="background:skyblue;left:200%;"></li>
          </ul>
          <ul class="carousel_btn_wrapper">
            <li value="0" class="carousel_btn"></li>
            <li value="1" class="carousel_btn"></li>
            <li value="2" class="carousel_btn"></li>
          </ul>
        </section>
      </section>
      <!-- FOOTER  -->
      <section class="common_footer_container">
        <ul class="common_footer_wrapper">
            <li class="home_btn"></li>
            <li class="allaccount_btn"></li>
            <li class="quicktransfer_btn"></li>
            <li class="financemall_btn"></li>
            <li class="callcenter_btn"></li>
        </ul>
    </section>
  </body>
</html>