<head>
    <link rel="apple-touch-icon" href="images/icon_114x114.png" />
    <link rel="shortcut icon" href="images/icon_72x72.png" />
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/chartJs.css">
    <script type="module" src="javascripts/graph.mjs"></script>
    <script type="text/javascript" src="javascripts/Chart.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/slider.css">
</head>
<body>
    <!-- HEADER -->
    <section class="common_header_container">
        <div class="common_header_wrapper">
            <div class="header_head">
                <div class="prev_btn"></div>
                <div class="head_text">시니어 신사업</div>
            </div>
            <div class="header_icons">
                <div class="search_btn"></div>
                <div class="total_btn"></div>
            </div>
        </div>
    </section>
    <!-- CONTENT -->
    <section class="page_container">
        <section class="chartJS_container">
            <div class="chartJS_wrapper">
                <div class="chartJS_text">
                    은퇴이후 55~65세에<br>
                    은퇴 자금 부족이 심할 것으로<br>
                    예상됩니다.
                </div>

                <div class="canvas_container">
                    <div class="yaxis_container">
                        <ul class="yaxis_wrapper">
                            <hr class="chartJS_spendline"/>
                            <div class="chartJS_spendtext">예상지출</div>
                            <li><span class="none_col">0</span>0</li>
                            <li><span class="none_col">0</span>5</li>
                            <li>10</li>
                            <li>15</li>
                            <li>20</li>
                            <li>25</li>
                            <li>30</li>
                            <li>35</li>
                            <li>40</li>
                            <li>45</li>
                            <li>50</li>
                        </ul>
                    </div>
                    <div class="canvas_wrapper">
                        <canvas id="myChart" width="3" height="1"></canvas>
                    </div>
                </div>
                <ul class="chartJS_agecontainer">
                    <li>55</li>
                    <li>60</li>
                    <li>65</li>
                    <li>70</li>
                    <li>75</li>
                    <li>80</li>
                    <li>85</li>
                    <li>90</li>
                </ul>
            </div>
        </section>
        <section class="control_overlay_btn_container">
            <div class="control_overlay_btn_wrapper">
                <div class="control_overlay_btn_icon"></div>
                <div class="control_overlay_btn_text">기대수명 및 미래생활비 조절하기</div>
            </div>
        </section>
        <section class="home_pension_container">
            <div class="home_pension_wrapper">
                <div class="home_pension_text">매달 46만원 더 받으실 수 있어요 </div>
                <div class="home_pension_btn">보유 주택으로 은퇴 자금 준비하기</div>
            </div>
        </section>
    </section>
    <!-- FOOTER -->
    <section class="common_footer_container">
        <ul class="common_footer_wrapper">
            <li class="home_btn"></li>
            <li class="allaccount_btn"></li>
            <li class="quicktransfer_btn"></li>
            <li class="financemall_btn"></li>
            <li class="callcenter_btn"></li>
        </ul>
    </section>
    <!-- OVERLAY -->
    <section class="chartJS_overlay_container">
        <div class="chartJS_spend_wrapper">
            <div class="spend_text_wrapper">
                <div class="spend_text">
                    미래생활비 : 
                    <span class="spend_input">170</span>만원
                </div>
            </div>
            <ul class="chartJS_spend_row">
                <li data-spend="170" class="chartJS_spend_element spend_selected">기본형</li>
                <li data-spend="210" class="chartJS_spend_element">표준형</li>
                <li data-spend="240" class="chartJS_spend_element">건강형</li>
                <li data-spend="265" class="chartJS_spend_element">여가형</li>
                <li data-spend="360" class="chartJS_spend_element">운용형</li>
            </ul>
        </div>
        <div class="chartJS_spend_wrapper">
            <div class="spend_text_wrapper">
                <div class="spend_text">
                    기대수명 : 
                    <span class="age_input">90</span>세
                </div>
            </div>
        </div>
        <div class="container">
            <div class="slider">
                <input id="range_slider" type = "range" min="56" max="90" value="90" />              
            </div>
        </div>
        <div class="overlay_close">
            <div class="overlay_close_btn"></div>
        </div>
    </section>

</body>