<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/chartJs.css">
    <script type="module" src="javascripts/graph.mjs"></script>
    <script type="text/javascript" src="javascripts/Chart.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/slider.css">
</head>
<body>
<section class="page_container">
    <section class="chartJS_container">
        <div class="chartJS_wrapper">
            <div class="chartJS_text">
                은퇴이후 55~65세에<br>
                은퇴 자금 부족이 심할 것으로<br>
                예상됩니다.
            </div>
            <hr class="chartJS_spendline"/>
            <div class="chartJS_spendtext">예상지출</div>
            <canvas id="myChart" width="3" height="1"></canvas>
            <ul class="chartJS_agecontainer">
                <li>55</li>
                <li>60</li>
                <li>65</li>
                <li>70</li>
                <li>75</li>
                <li>80</li>
                <li>85</li>
                <li>90</li>
            </ul>
        </div>
    </section>
    <section class="control_overlay_btn_container">
        <div class="control_overlay_btn_wrapper">
            <div class="control_overlay_btn_icon"></div>
            <div class="control_overlay_btn_text">그래프 조절하기</div>
        </div>
    </section>
    <section class="home_pension_container">
        <div class="home_pension_wrapper">
            <div class="home_pension_text">매달 46만원 더 받으실 수 있어요 </div>
            <div class="home_pension_btn">보유 주택으로 은퇴 자금 준비하기</div>
        </div>
    </section>
</section>
    <section class="common_header_container">
        this is footer section
    </section>
    <section class="common_footer_container">
        this is footer section
    </section>
    <section class="chartJS_overlay_container">
        <div class="chartJS_spend_wrapper">
            <div class="spend_text_wrapper">
                <div class="spend_text">
                    미래생활비 : 
                    <span class="spend_input">170</span>만원
                </div>
            </div>
            <ul class="chartJS_spend_row">
                <li data-spend="170" class="chartJS_spend_element spend_selected">기본형</li>
                <li data-spend="210" class="chartJS_spend_element">표준형</li>
                <li data-spend="240" class="chartJS_spend_element">건강형</li>
                <li data-spend="265" class="chartJS_spend_element">여가형</li>
                <li data-spend="360" class="chartJS_spend_element">운용형</li>
            </ul>
        </div>
        <div class="chartJS_spend_wrapper">
            <div class="spend_text_wrapper">
                <div class="spend_text">
                    기대수명 : 
                    <span class="age_input">90</span>세
                </div>
            </div>
        </div>
        <div class="container">
            <div class="slider">
                <input id="range_slider" type = "range" min="56" max="90" value="90" />              
            </div>
        </div>
        <div class="overlay_close">
            <div class="overlay_close_btn"></div>
        </div>
    </section>
</body>