<!DOCTYPE html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
  </head>
  <body>
      <section class="overlay_section">
        <div class="init_logo"></div>
        <div class="inittext_container">
          <hr clsss="logo_line"/>
          <div class="inittext_gradient">
            <span>A</span><span>C</span><span>E</span>
          </div>
          <div class="inittext_sub">자산관리특화서비스추진</div>
        </div>
      </section>
      <section></section>
  </body>
</html>