<head>
    <link rel="apple-touch-icon" href="images/icon_114x114.png" />
    <link rel="shortcut icon" href="images/icon_72x72.png" />
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/hs.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/yj.css">
    <script src="javascripts/yj.js"></script>
    <script src="javascripts/hs.js"></script>
</head>
<body>
      <!-- HEADER -->
    <section class="common_header_container">
        <div class="common_header_wrapper">
            <div class="header_head">
                <div class="prev_btn"></div>
                <div class="head_text">시니어 신사업</div>
            </div>
            <div class="header_icons">
                <div class="search_btn"></div>
                <div class="total_btn"></div>
            </div>
        </div>
    </section>
    <!-- CONTENT -->
    <section class="page_container">
        <div class="present_container">
            <div class="present_label">
                <div class="present_txt">은퇴 후 예상 월평균 수입</div>
                <div class="present_btn"></div>
            </div>
            <div class="present_analysis">
                <div class="analysis_txt">예상월평균 수입</div>
                <div class="analysis_amount">234만원</div>
            </div>
            <ul class="present_toggle">
                <li class="present_toggle_act">전일대비</li>
                <li>전월대비</li>
                <li>전년대비</li>
            </ul>

            <div class="present_compare">
                <div class="compare_amount">16,000원</div>
                <div class="compare_ratio">▲1.85%</div>
            </div>
        </div>
        <div class="present_container">
            <div class="present_label">
                <div class="present_txt">은퇴 후 연령에 따른 예상 수입·지출</div>
            </div>
        </div>
    </section>
    <!-- FOOTER -->
    <section class="common_footer_container">
        <ul class="common_footer_wrapper">
            <li class="home_btn"></li>
            <li class="allaccount_btn"></li>
            <li class="quicktransfer_btn"></li>
            <li class="financemall_btn"></li>
            <li class="callcenter_btn"></li>
        </ul>
    </section>
</body>