<head>
    <link rel="apple-touch-icon" href="images/icon_114x114.png" />
    <link rel="shortcut icon" href="images/icon_72x72.png" />
    <link rel="stylesheet" type="text/css" href="stylesheets/chartJs.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/hs.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/carousel.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/yj.css">
    <script type="text/javascript" src="javascripts/Chart.bundle.min.js"></script>
    <script type="module" src="javascripts/index_v1_2.mjs"></script>
    <script src="javascripts/yj.js"></script>
    <script src="javascripts/hs.js"></script>
    <!-- hosung dependency -->
    <link rel="stylesheet" type="text/css" href="stylesheets/all.min.css">
</head>

<body>
    <!-- HEADER -->
    <section class="common_header_container">
        <div class="common_header_wrapper">
            <div class="header_head">
                <div class="prev_btn"></div>
                <div class="head_text">시니어 신사업</div>
            </div>
            <div class="header_icons">
                <div class="search_btn"></div>
                <div class="total_btn"></div>
            </div>
        </div>
    </section>
    <!-- CONTENT -->
    <section class="page_container">
        <div class="hs_container_new">
            <div class="hs_title">
                현재<br>
                은퇴준비 자산
                <img src="../images/lookcloser.png" class="present_btn" id="show_asset_list"
                    onclick="show_asset_function1()">
            </div>

        </div>
        <div class="present_container">
            <!-- <div class="present_label">
                <div class="present_txt">현재 은퇴준비 자산</div>
                <div class="present_btn" id="show_asset_list" onclick="show_asset_function1()"></div>
            </div> -->
            <script>
                function show_asset_function1() {
                    window.location.href = "/asset";
                }
            </script>
            <div class="hs_label_inside">
                <div class="hs_label_inside_first">
                    <div class="hs_label_inside_first_text">
                        현재 은퇴준비 자산총액&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="hs_label_inside_first_money" id="hs_label_inside_first_money">
                        321,390,402원
                    </div>
                </div>
                <div class="hs_label_inside_second">
                    <div class="hs_label_inside_second_text">
                        전일대비5,825,243원
                    </div>
                    <div class="hs_label_inside_second_percent">
                        <span style="color:red">&nbsp;▲</span>1.85%
                    </div>
                </div>
            </div>
        </div>
        </div>


        <div class="hs_container_new">
            <div class="hs_title">
                연금성<br>
                자산 분석
            </div>
            <div class="present_container">
                <!-- <div class="present_label">
                    <div class="present_txt">연금성 자산 분석</div>
                </div> -->

                <div class="hs_label_inside">
                    <div class="hs_label_inside_first">
                        <div class="hs_label_inside_first_text">
                            전년도 연금성 자산 납입금액&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="hs_label_inside_first_money">
                            10,751,800원
                        </div>
                    </div>
                    <div class="hs_label_inside_second">
                        <div class="hs_label_inside_second_text">
                            소득대비 연금성 자산납입 비율
                        </div>
                        <div class="hs_label_inside_second_percent">
                            <span>&nbsp;10.75%</span>
                        </div>
                    </div>
                    <div class="hs_label_inside_third">
                        <div class="hs_label_inside_third_text">
                            연금성 자산 예상적립액
                        </div>
                        <table class="hs_label_inside_third_table">
                            <tr class="hs_label_inside_thrid_table_title">
                                <th class="hs_label_inside_thrid_table_title_css1"></th>
                                <th class="hs_label_inside_thrid_table_title_css">국민연금</th>
                                <th class="hs_label_inside_thrid_table_title_css">퇴직연금</th>
                                <th class="hs_label_inside_thrid_table_title_css">개인연금</th>
                            </tr>
                            <tr>
                                <td class="hs_label_inside_thrid_table_title_css2" style="font-weight:bold">예상적립액</td>
                                <td class="hs_label_inside_thrid_table_title_css3" style="color:#007acc">144,902,280
                                </td>
                                <td class="hs_label_inside_thrid_table_title_css3" style="color:#007acc">63,382,582</td>
                                <td class="hs_label_inside_thrid_table_title_css3" style="color:#007acc">53,027,953</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- YJ PART -->
        <div class="hs_container_new">
            <div class="hs_title">
                은퇴 후<br>
                예상 월평균 수입
                <!-- <img src="../images/lookcloser.png" class="present_btn"> -->
            </div>
        </div>
        <div class="present_container">
            <div class="hs_label_inside">
                <div class="hs_label_inside_first">
                    <div class="hs_label_inside_first_text">
                        예상월평균 수입&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="hs_label_inside_first_money" id="hs_label_inside_first_money">
                        2,340,000원
                    </div>
                </div>
                <div class="hs_label_inside_second">
                    <div class="hs_label_inside_second_text">
                        전일대비 16,000원
                    </div>
                    <div class="hs_label_inside_second_percent">
                        <span style="color:red">&nbsp;▲</span>1.85%
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="hs_container_new">
            <div class="hs_title">
                은퇴 후<br>
                연령에 따른 예상 수입 지출
            </div>
            <div class="present_container" style="padding: 5% 0;width:90%;align-items: flex-start;">
                <!-- <div class="present_label" style="margin-left: 5%;">
                    <div class="present_txt">은퇴 후 연령에 따른 예상 수입·지출</div>
                </div> -->
                <div class="stockdisplay_container">
                    <div class="stockdisplay_agewrap">
                        <span class="stockdisplay_agecontrol"></span>세 월수령액 :
                        <span class="stockdisplay_month_income"></span>
                    </div>
                    <div class="STpension_container"></div>
                </div>
                <div class="chartJS_text">
                    은퇴이후 55~65세에<br>
                    은퇴 자금 부족이 심할 것으로<br>
                    예상됩니다.
                </div>
                <div class="option_container">
                    <div class="option_text">구간</div>
                    <ul class="option_contents">
                        <li class="option_content option_focused" value="0">전체</li>
                        <li class="option_content" value="1">1기(55~65세)</li>
                        <li class="option_content" value="2">2기(65~75세)</li>
                        <li class="option_content" value="3">3기(75세~)</li>
                    </ul>
                </div>
                <div class="option_container" style="margin-bottom: 3%;">
                    <div class="option_text">그래프</div>
                    <ul class="option_contents">
                        <li class="option_content" data-bg="#007ACC" value="0"
                            style="color:white;background-color: #007ACC;">
                            예상수령액</li>
                        <li class="option_content" data-bg="#F6E04B" value="1"
                            style="color:white;background-color: #F6E04B;">
                            KB소비지수</li>
                    </ul>
                </div>
                <div class="canvas_container">
                    <div class="canvas_wrapper">
                        <canvas id="myChart" width="2" height="1"></canvas>
                    </div>
                </div>
                <section class="optimize_container">
                    <div class="optimize_wrapper">
                        <div class="optimize_icon"></div>
                        <div class="optimize_text">절세를 고려한 최적화 시뮬레이션</div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- FOOTER -->
    <section class="common_footer_container">
        <ul class="common_footer_wrapper">
            <li class="home_btn"></li>
            <li class="allaccount_btn"></li>
            <li class="quicktransfer_btn"></li>
            <li class="financemall_btn"></li>
            <li class="callcenter_btn"></li>
        </ul>
    </section>
</body>