<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="stylesheets/layout.css" />
    <style
      type="text/css"
      media="screen and (min-width: 375px) and (max-width:812px)"
    >
      /* style */
    </style>
  </head>
  <body>
    <div class="starbanking">
      <div class="starbanking_header">
        <a href="home.html">
          <span class="material-icons arrow_icon">
            keyboard_arrow_left
          </span>
        </a>
        <div class="starbanking_header-korean">
          <strong>시니어 신사업</strong>
        </div>
        <div class="starbanking_header-right1">
          <img src="images/search.png" class="search-icon" />
        </div>
        <div class="starbanking_header-right2">
          <img src="images/totalmenu.png" class="totalmenu-icon" />
        </div>
      </div>

      <main class="starbanking_main">
        <div class="main-above">
          <div class="main-above-graph">1</div>
          <div class="main-above-text">1-1</div>
        </div>
        <div class="main-middle">
          <div class="main-middle-text">2</div>
        </div>
        <div class="main-bottom">
          <div class="main-bottom-graph">3</div>
        </div>
      </main>

      <footer class="starbanking_footer">
        <div class="starbanking_footer_icon1">
          <img src="images/home.png" class="home-icon" />
        </div>
        <div class="starbanking_footer_icon2">
          <img src="images/inquiry.png" class="inquiry-icon" />
        </div>
        <div class="starbanking_footer_icon3">
          <img src="images/quicktransfer.png" class="quicktransfer-icon" />
        </div>
        <div class="starbanking_footer_icon4">
          <img src="images/financemall.png" class="financemall-icon" />
        </div>
        <div class="starbanking_footer_icon5">
          <img src="images/callcenter.png" class="callcenter-icon" />
        </div>
      </footer>
    </div>
  </body>
</html>
