<html>
  <head>
    <!-- Resources -->
    <script src="javascripts/vendor/pie/core.js"></script>
    <script src="javascripts/vendor/pie/charts.js"></script>
    <script src="javascripts/vendor/pie/animated.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/pie.css">
    <script type="module" src="javascripts/migrate.mjs"></script>
    </head>
  <body>
    <!-- HTML -->
    <section class="pie_container">
      <div class="pie_wrapper">
        <div id="chartdiv"></div>
        <!-- <div id="chartdiv2"></div> -->
      </div>
    </section>
  </body>
</html>