/* screen - a1 */

.a1 {
  background-color:var(--white);
  height:812px;
  overflow:hidden;
  position:relative;
  width:375px;
}
.a1 .duc11cube44uc2a4-zUixHA {
  background-color:rgba(255,255,255,0);
  height:auto;
  left:54px;
  position:absolute;
  text-align:left;
  top:56px;
  white-space:nowrap;
  width:300px;
}
.a1 .group-116-kAwTo2 {
  background-color:rgba(255,255,255,0);
  height:45px;
  left:0px;
  position:absolute;
  top:0px;
  width:48px;
}
.a1 .group-14-Zp07ZH {
  background-color:rgba(255,255,255,0);
  background-image:url(../img/---group-14-BABB93AE-DB76-486F-A7DF-6E10D23DC9D1@2x.png);
  background-size:100% 100%;
  height:45px;
  left:0px;
  position:relative;
  top:0px;
  width:48px;
}
.a1 .group-2-C61RwL {
  background-color:rgba(255,255,255,0);
  height:721px;
  left:0px;
  position:absolute;
  top:0px;
  width:379px;
}
.a1 .group-4-C61RwL {
  background-color:rgba(255,255,255,0);
  background-image:url(../img/3-rectangle-copy-2E953D0C-79B4-42AE-8A05-C7CCD8F861C6.png);
  background-size:100% 100%;
  height:55px;
  left:14px;
  position:absolute;
  top:274px;
  width:351px;
}
.a1 .group-4-VMr6Om {
  background-color:rgba(255,255,255,0);
  background-image:url(../img/6--rectangle-copy-901E1B05-0B16-4566-952E-8AA14D324748.png);
  background-size:100% 100%;
  height:55px;
  left:14px;
  position:absolute;
  top:515px;
  width:351px;
}
.a1 .group-4-mzXdH9 {
  background-color:rgba(255,255,255,0);
  background-image:url(../img/6--rectangle-copy-901E1B05-0B16-4566-952E-8AA14D324748.png);
  background-size:100% 100%;
  height:55px;
  left:15px;
  position:absolute;
  top:586px;
  width:351px;
}
.a1 .group-43-C61RwL {
  background-color:rgba(255,255,255,0);
  height:153px;
  left:15px;
  position:absolute;
  top:339px;
  width:351px;
}
.a1 .group-7-C61RwL {
  background-color:rgba(255,255,255,0);
  height:19px;
  left:33px;
  position:absolute;
  top:605px;
  width:19px;
}
.a1 .group-7-NuAwbu {
  background-color:rgba(255,255,255,0);
  height:45px;
  left:0px;
  position:absolute;
  top:0px;
  width:285px;
}
.a1 .group-9-SO40Oe {
  background-color:rgba(255,255,255,0);
  height:19px;
  left:0px;
  position:relative;
  top:0px;
  width:19px;
}
.a1 .img0459-C61RwL {
  background-color:rgba(255,255,255,0);
  height:79px;
  left:0px;
  position:absolute;
  top:733px;
  width:375px;
}
.a1 .img0459-zUixHA {
  background-color:rgba(255,255,255,0);
  height:57px;
  left:2px;
  position:absolute;
  top:37px;
  width:374px;
}
.a1 .oval-C61RwL {
  background-color:rgba(255,255,255,0);
  height:32px;
  left:26px;
  position:absolute;
  top:598px;
  width:32px;
}
.a1 .rectangle-9e7LwL {
  background-color:var(--white);
  height:5px;
  left:0px;
  position:absolute;
  top:7px;
  width:19px;
}
.a1 .rectangle-C5smAi {
  background-color:var(--white);
  height:5px;
  left:0px;
  position:absolute;
  top:7px;
  transform:rotate(-270deg);
  width:19px;
}
.a1 .rectangle-copy-A3frlC {
  background-color:rgba(255,255,255,0);
  height:94px;
  left:183px;
  position:absolute;
  top:59px;
  width:168px;
}
.a1 .rectangle-copy-NuAwbu {
  background-color:rgba(255,255,255,0);
  height:94px;
  left:0px;
  position:absolute;
  top:59px;
  width:168px;
}
.a1 .rectangle-kTiyrb {
  background-color:var(--white);
  height:34px;
  left:47px;
  position:absolute;
  top:49px;
  width:145px;
}
.a1 .rectangle-sdxwGy {
  background-color:rgba(200,229,236,0.30000001192092896);
  height:627px;
  left:0px;
  position:absolute;
  top:94px;
  width:375px;
}
.a1 .rectangle-zUixHA {
  background-color:var(--white);
  height:92px;
  left:0px;
  position:absolute;
  top:0px;
  width:379px;
}
.a1 .uace8ub4e0-uc608uae08-NuAwbu {
  background-color:rgba(255,255,255,0);
  color:var(--mine-shaft);
  font-size:14.0px;
  height:auto;
  left:9px;
  line-height:16.0px;
  position:absolute;
  text-align:left;
  top:110px;
  width:auto;
}
.a1 .ub77cuc774-ubca4ud2b8-C61RwL {
  background-color:rgba(255,255,255,0);
  color:var(--mine-shaft);
  font-family:"KBFGDisplay-Bold", Helvetica, Arial, serif;
  font-size:32.0px;
  height:auto;
  left:15px;
  letter-spacing:-0.64px;
  line-height:18.0px;
  position:absolute;
  text-align:left;
  top:131px;
  width:209px;
}
.a1 .ub77cuc774-ubca4ud2b8-VMr6Om {
  background-color:rgba(255,255,255,0);
  color:var(--mine-shaft);
  font-size:16.0px;
  height:auto;
  left:23px;
  line-height:18.0px;
  position:absolute;
  text-align:left;
  top:246px;
  white-space:nowrap;
  width:auto;
}
.a1 .ubb34ubc30-f4ud5d8-ii-NuAwbu {
  background-color:rgba(255,255,255,0);
  color:var(--mine-shaft);
  font-size:14.0px;
  height:auto;
  left:196px;
  line-height:16.0px;
  position:absolute;
  text-align:left;
  top:110px;
  width:143px;
}
.a1 .uc5f0uae08-ud558uc2dc-NuAwbu {
  background-color:rgba(255,255,255,0);
  color:var(--mine-shaft);
  font-size:12.0px;
  height:auto;
  left:9px;
  line-height:14.0px;
  position:absolute;
  text-align:left;
  top:73px;
  width:157px;
}
.a1 .uc5f0ub839-uc815ubcf4-C61RwL {
  background-color:rgba(255,255,255,0);
  color:var(--mine-shaft);
  font-size:14.0px;
  height:auto;
  left:0px;
  line-height:16.0px;
  position:absolute;
  text-align:center;
  top:666px;
  width:375px;
}
.a1 .uc790ub140-c5ec-uc218-kAwTo2 {
  background-color:rgba(255,255,255,0);
  color:var(--mine-shaft);
  font-size:14.0px;
  height:auto;
  left:57px;
  line-height:18.0px;
  position:absolute;
  text-align:left;
  top:5px;
  width:auto;
}
.a1 .uc790ub140-uacb0ud63c-KOsP6k {
  background-color:rgba(255,255,255,0);
  color:var(--mine-shaft);
  font-size:16.0px;
  height:auto;
  left:11px;
  line-height:18.0px;
  position:absolute;
  text-align:left;
  top:19px;
  white-space:nowrap;
  width:70px;
}
.a1 .uc9d1-ub9a-ub378ub9c1-eThRcb {
  background-color:rgba(255,255,255,0);
  color:var(--mine-shaft);
  font-size:16.0px;
  height:auto;
  left:11px;
  line-height:18.0px;
  position:absolute;
  text-align:left;
  top:19px;
  white-space:nowrap;
  width:102px;
}
.a1 .ucd94uac00ud558uae30-C61RwL {
  background-color:rgba(255,255,255,0);
  color:var(--mine-shaft);
  font-size:16.0px;
  height:auto;
  left:67px;
  line-height:18.0px;
  position:absolute;
  text-align:left;
  top:606px;
  white-space:nowrap;
  width:131px;
}
.a1 .ud544uc694uc790uae08-C61RwL {
  background-color:rgba(255,255,255,0);
  color:var(--mine-shaft);
  font-size:16.0px;
  height:auto;
  left:289px;
  line-height:18.0px;
  position:absolute;
  text-align:left;
  top:246px;
  white-space:nowrap;
  width:auto;
}
.a1 .x100000000-KOsP6k {
  background-color:rgba(255,255,255,0);
  color:var(--mine-shaft-2);
  height:auto;
  left:236px;
  position:absolute;
  text-align:right;
  top:17px;
  white-space:nowrap;
  width:96px;
}
.a1 .x10ub144-ua-ub960-1271-NuAwbu {
  background-color:rgba(255,255,255,0);
  color:var(--mine-shaft);
  font-size:12.0px;
  height:auto;
  left:196px;
  line-height:14.0px;
  position:absolute;
  text-align:left;
  top:73px;
  width:143px;
}
.a1 .x20000000-eThRcb {
  background-color:rgba(255,255,255,0);
  color:var(--mine-shaft-2);
  height:auto;
  left:236px;
  position:absolute;
  text-align:right;
  top:17px;
  white-space:nowrap;
  width:96px;
}
.border-class-1 {
  border-color:var(--amber);
  border-style:solid;
  border-width:1px;
}
.border-class-2 {
  border-color:var(--mine-shaft-2);
  border-style:solid;
  border-width:1px;
}
.font-class-1 {
  font-family:"KBFGDisplay-Medium", Helvetica, Arial, serif;
}
.font-class-10 {
  color:rgba(34,34,35,1.0);
  font-family:"AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size:16.0px;
  letter-spacing:-0.11px;
  line-height:19.0px;
}
.font-class-2 {
  font-family:"Helvetica-Condensed", Helvetica, Arial, serif;
  font-size:20.0px;
  letter-spacing:-0.40px;
  line-height:18.0px;
}
.font-class-3 {
  font-family:"AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family:"Helvetica-Condensed", Helvetica, Arial, serif;
}
.font-class-5 {
  font-family:"AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
}
.font-class-6 {
  color:var(--green);
  font-family:"Helvetica-Condensed-Bold", Helvetica, Arial, serif;
  font-size:14.0px;
  letter-spacing:-0.09px;
  line-height:18.0px;
}
.font-class-7 {
  color:var(--log-cabin);
  font-family:"AppleSDGothicNeoB00", Helvetica, Arial, serif;
  font-size:16.0px;
  letter-spacing:-0.11px;
  line-height:22.0px;
}
.font-class-8 {
  font-family:"Helvetica-Condensed-Bold", Helvetica, Arial, serif;
  font-size:36.0px;
  letter-spacing:-0.72px;
  line-height:18.0px;
}
.font-class-9 {
  color:var(--mine-shaft);
  font-family:"KBFGDisplay-Medium", Helvetica, Arial, serif;
  font-size:16.0px;
  letter-spacing:-0.32px;
  line-height:18.0px;
}
:root {
  --amber:rgba(255,189,0,1.0);
  --concrete:rgba(242,242,242,1.0);
  --fuscous-gray:rgba(96,88,76,1.0);
  --green:rgba(0,200,5,1.0);
  --log-cabin:rgba(33,34,35,1.0);
  --mine-shaft:rgba(50,51,50,1.0);
  --mine-shaft-2:rgba(51,51,51,1.0);
  --sonic-silver:rgba(119,119,119,1.0);
  --supernova:rgba(255,204,2,0.30000001192092896);
  --white:rgba(255,255,255,1.0);
}