.hpension_popup_container{
  display: none;
  position: absolute;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.502);
  z-index: 10;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.hpension_popup_wrapper{
  position: relative;
  width:80%;
  height:60%;
  background-color: #419fe8;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hpension_title_wrapper{
  width:90%;
  display: flex;
  justify-content: flex-start;

  align-items: center;
  
}

.hpension_space_wrapper{
  padding:5% 0;
  width:90%;
  display: flex;
  justify-content: space-between;
  
}
.hpension_title_text{
  margin-left: 3%;
  font-size: 5rem;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
}
.hpension_title_icon{
  width:15%;
  padding-top: 15%;
  background-image: url(../images/ht_icon.png);
  background-size: 100% 100%;
}

.hclose_wrapper{
  color:white;
  font-size: 7rem;
  font-stretch: 200%;
}

.estate_container{
  margin-top:10%;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.estate_wrapper{
  position: relative;
  width:90%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding:5% 0%;
  border-radius: 3rem;
}

.estate_icon{
  width:15%;
  padding-top: 15%;
  background-image: url(../images/building.png);
  background-size: 100% 100%;
  margin-left: 5%;
}

.estate_texts{
  margin-left: 5%;
}

.estate_title{
  font-size:4rem;
}

.estate_cost{
  margin-top: 1rem;
  font-size: 3rem;
}

.estate_btn_container{
  display:flex;
  position: absolute;
  width:100%;
  bottom:0%;
  margin-bottom: 5%;
  justify-content: center;
}

.estate_btn{
  width:90%;
  padding:5% 0;
  background-color: orange;
  border-radius: 3rem;
  font-size: 4rem;
  color:white;
  text-align: center;
}

.chartJS_container {
    /* margin-top: 5%; */
    padding-top:5%;
    width: 100%;
    display:flex;
    justify-content: center;
    height:auto;
    position: relative;
  }

.chartJS_wrapper{
  width:90%;
  position:relative;
  padding:0% 0%;
  border-radius: 3rem;
  background-color: #f0e1ca;
  overflow: hidden;
}

.canvas_container{
  display:flex;
  justify-content: flex-end;
  width:100%;
}

.canvas_wrapper{
  width:90%;
}

#myChart{
  transition:transform 0.5s;
}

.chartJS_text{
  margin-top:5%;
  margin-left:5%;
  font-size:5rem;
  color:#675b43;
  margin-bottom:30%;
  line-height: 130%;
}

.chartJS_spendline{
  position:absolute;
  top:39.008%;
  border:none;
  color:rgba(147, 105, 105, 0);
  width:100%;
  height:1px;
  border-top:1rem dashed rgba(255, 193, 3, 0.4);
  transition:top 1s;
}

.chartJS_spendtext{
  border-radius:3rem;
  position:absolute;
  top:39.008%;
  padding:2rem;
  font-size:4rem;
  background-color:rgba(255, 193, 3, 0.4);
  right:5%;
  transform:translateY(-35%);
  color:white;
  transition:top 1s;
}

.xaxis_age{
  position:relative;
}

.yaxis_cost{
  position: relative;
}
.yaxis_grid{
  position: absolute;
  left:150%;
  width:85rem;
  height:49%;
  border-bottom: 0.5px solid #c69449;
}

.xaxis_grid{
  position: absolute;
  display:flex;
  width:49%;
  height:45rem;
  top:-46rem;
  border-right: 0.5px solid #c69449;
}

.chartJS_agecontainer{
  display:flex;
  width: 90%;
  font-size:3rem;
  list-style:none;
  justify-content: space-between;
  padding:0;
  color:#675b43;
  font-weight: bold;
  margin-left: 10%;
} 

.yaxis_wrapper{
  position: absolute;
  left:0;
  top:31%;
  width:100%;
  height:60%;
  display:flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  list-style: none;
  justify-content: space-between;
  padding:0;
  margin:0;
  font-size: 3rem;
  padding-left: 2%;
}

.chartJS_scale_label{
  background-color: white;
  padding: 0 2%;
  border-radius: 1rem;
  transform: translateX(15%);
}

.chartJS_spend_container{
  margin-top:3%;
  width:100%;
  flex-direction: column;
  align-items: center;
  display:none;
  opacity:1;
  transition: transform, opacity 1s;
}

.none_col{
  visibility: hidden;
}

.chartJS_spend_wrapper{
  margin-top: 5%;
  display:flex;
  flex-direction: column;
  align-items: center;
  width:90%;
  padding: 3% 0 0 0;
}

.spend_text_wrapper{
  width:95%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding:1% 0;
  font-size:5rem;
}

.chartJS_spend_row{
  margin:0;
  padding:0;
  margin-top:5%;
  list-style: none;
  display:flex;
  width:100%;
  justify-content: space-around;
}

.chartJS_spend_element{
  font-size:4rem;
  padding:3rem 2rem;
  background-color:white;
  border-radius: 2rem;
  border: 1px solid silver;
  transition: background-color 0.7s;
}

.spend_selected{
  background-color: #f7ac00;
  color:#ffe8b3;
  border: 2px solid #ffe8b3;
}

.chartJS_spend_btn{
  margin-top:3%;
  font-size: 4rem;
  border-radius: 2rem;
  width:90%;
  text-align:center;
  padding:3% 0;

  color:white;
}
.suggestion_container{
  margin-top: 5%;
  width:100%;
  display:flex;
  justify-content: center;
  
}

.suggestion_wrapper{
  width:90%;
  font-size: 5rem;
  padding: 2% 0;
  border-bottom:2px solid black;
}

.diagnose_container{
  line-height: 140%;
  margin-top: 3%;
  font-size: 4rem;
  color:gray;
}

.diagnose_wrapper{
  width:100%;
  display:flex;
  justify-content: center;
}

.diagnose{
  width:90%;

}

.home_pension_container{
  margin-top: 3rem;
  font-size:4rem;
  color:white;
  width:100%;
  display:flex;
  justify-content: center;
}

.home_pension_wrapper{
  padding: 5% 0;
  background-color: #419fe8;
  border-radius: 3rem;
  width:90%;
  background-image: url(../images/home_pension_icon.png);
  background-repeat: no-repeat;
  background-size:20%;
  background-position: 90% 50%;
  transition:opacity 0.5s;
}

.home_pension_text{
  font-size: 4rem;
  margin-left: 5%;
}

.home_pension_btn{
  margin-top: 5%;
  width:fit-content;
  margin-left: 5%;
  padding:3%;
  font-size:3rem;
  background-color:white;
  color:gray;
  border-radius: 2rem;

}

.mockup_wrapper{
  width:90%;
  background-color:silver;
  border-radius: 3rem;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.sample_box{
  width:20%;
  padding-top: 20%;
  background-color: white;
  margin: 5% 3%;
  border-radius: 3rem;
}
.sample_texts{
  width:70%;

}
.sample_text{
  width:100%;
  height:3rem;
  margin:5%;
  background-color: white;
  border-radius: 3rem;
}

.pension_used{
  opacity:0.5;
}
.control_overlay_btn_container{
  margin-top: 2%;
  width:100%;
  border-radius:  3rem;
  transition:transform 0.5s;
  display:flex;
  justify-content: center;
  align-items: center;
}

.control_overlay_btn_wrapper{
  padding:1% 0;
  display:flex;
  width:90%;
  background-color: rgba(247, 172, 0, 1);
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}

.control_overlay_btn_icon{
  width:8rem;
  height:8rem;
  background-image: url(../images/control.png);
  background-size:80% 80%;  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.control_overlay_btn_text{
  color:white;
  font-size:4rem;
}

.control_expand{
  transform:translateY(200%)
}

.chartJS_overlay_container{
  width:100%;
  height:60%;
  position:fixed;
  bottom:0%;
  transform: translateY(100%);
  background-color: #c9d5a1;
  border-radius: 4rem 4rem 0 0;
  display:flex;
  flex-direction: column;
  transition:transform 0.5s;
  align-items: center;
}

.overlay_active{
  transform:translateY(0%)
}


.overlay_close{
  position: absolute;
  bottom:5%;
  width:100%;
  display:flex;
  justify-content: center;
}

.overlay_close_btn{
  width:15%;
  padding-top: 15%;
  background-image: url(../images/close_btn.png);
  background-size: 30% 30%;
  background-repeat: no-repeat;
  background-color:white;
  background-position: 50% 50%;
  border-radius:100%;
}