@font-face{
    font-family: KB;
    src: url('../fonts/KBFGTextL.woff') format('woff')
}

html,body{
    padding:0;
    margin:0;
    width: 100%;
    height:100%;
    position: relative;
    background-color: white;
    font: 10px 'KB';
    overflow: scroll;
}
