.hs_label_inside{
    align-items: center;
    width : 100%;
    margin-top: 5%;
}

.hs_label_inside_first {
    display : flex;
    justify-content: flex-end;
    margin-right: 4%;
    align-items: center;
    
}

.hs_label_inside_first_text{
    font-size : 3rem; 
}

.hs_label_inside_first_money{
    font-size : 4rem; 
    color : blue;
}

.hs_label_inside_second{
    margin-top: 2%;
    display : flex;
    font-size : 3rem;
    justify-content: flex-end;
    margin-right: 4%;
    align-items: center;
    opacity : 70%;
}

.hs_label_inside_third_text{
    margin-top : 2%;
    font-size:3rem;
    margin-bottom : 1.5%;
}

.hs_label_inside_third_table {
   width:100%;
   font-size : 3rem;
   text-align :center;
   border : 0.5px solid black;
   align-items: center;
   border-collapse: collapse;
}

.hs_label_inside_thrid_table_title {
    background-color: yellow;
    border-bottom: 1px solid black;
}

th, td {
    border : 1px solid black;
}

