.hs_label_inside{
    align-items: center;
    width : 100%;
    /* margin-top: 5%; */
}

.hs_label_inside_first {
    display : flex;
    justify-content: flex-end;    
    align-items: center;    
}

.hs_label_inside_first_text{
    font-size : 3.5rem; 
}

.hs_label_inside_first_money{
    font-size : 5rem; 
    color : blue;
}

.hs_label_inside_second{
    margin-top: 1.5%;
    display : flex;
    font-size : 3.5rem;
    justify-content: flex-end;    
    align-items: center;
    opacity : 70%;
}

.hs_label_inside_third_text{
    margin-top : 4%;
    font-size:3.5rem;
    margin-bottom : 1.5%;
}

.hs_label_inside_third_table {
   width:100%;
   font-size : 3rem;
   text-align :center;
   border : 0.2px solid black;
   align-items: center;
   /* border-collapse: collapse; */
}

.hs_label_inside_thrid_table_title {
    background-color: #F6E04B;
  
}

/* th, td {
    border : 1px solid black;
} */

