
/* INIT DISPLAY */
.overlay_section{
  background-color:#ffcc01;
  position: absolute;
  display:none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width:100%;
  height:100%;
}

.init_logo{
  width: 40%;
  padding-top:40%;
  background-image: url('../images/kb_logo.png');
  background-size: 100% 100%;
  border-bottom: 2px solid black;
}


.inittext_container{
  margin-top:4rem;
  width:40%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size:2.5rem;
}

.inittext_gradient{
  width:75%;
  font-size:8rem;
  display:flex;
  justify-content: space-around;
}

.inittext_sub{
  width:75%;
  padding:1rem 0rem;
  background-color:black;
  color:white;
  text-align: center;
}

/*WELCOME COMPONENT*/
.welcome_container{
  width:100%;
  height:70%;
  background-image: url(../images/welcome_display.jpg);
  background-repeat: no-repeat;
  background-size: 130% 130%;
  background-position:50% 0%;
}

.transparent_back{
  background-color: rgba(255, 255, 255, 0) !important;
  border: none !important;
}

.kb_logo{
  width:100%;
  padding-top: 10%;
  background-image: url(../images/kblogo_mono.png);
  background-size: 70% 120%;
  background-repeat: no-repeat;
  background-position: 20% 0%;
}

/* slide container */
.slide_container{
  position: absolute;
  width:100%;
  height:85%;
  background-color: #fefefe;
  bottom:-30%;
  transition : bottom 0.5s;
  border-radius: 5rem;
  left:0;
}