@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.starbanking {
  display: flex;
}

.starbanking_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  border-style: solid;
  border-width: 0.5px;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  border-bottom-color: #cacaca;
  height: 60px;
}

.starbanking_header-korean {
  font-size: 18px;
  /* font-family: Malgun Gothic; */
  font-family: "Malgun Gothic", sans-serif;
  margin-top: 18px;
}

.arrow_icon {
  font-size: 40px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

.starbanking_header-right1 {
  position: absolute;
  right: 60px;
  top: -4px;
}

.starbanking_header-right2 {
  position: absolute;
  right: -5px;
  top: -5.5px;
}
.search-icon {
  width: 43px;
  height: auto;
}

.totalmenu-icon {
  width: 73px;
  height: auto;
}

.starbanking_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  border-style: solid;
  height: 60px;
  border-width: 0.5px;
  border-top-color: #cacaca;
  border-left-color: white;
  border-right-color: white;
  border-bottom-color: white;
}

.home-icon,
.inquiry-icon,
.quicktransfer-icon,
.financemall-icon,
.callcenter-icon {
  width: 85px;
  height: auto;
  margin-left: -7px;
}

.starbanking_main {
  position: absolute;
  top: 70px;
  background-color: yellow;
  opacity: 0.7;
  padding: 10px 5px;
}

.main-above {
  display: flex;
}

.main-above-graph {
  width: 250px;
  height: 250px;
  background-color: red;
}

.main-above-text {
  width: 100px;
  height: 250px;
  background-color: purple;
}

.main-middle-text {
  width: 350px;
  height: 50px;
  background-color: orange;
}

.main-bottom-graph {
  width: 350px;
  height: 350px;
  background-color: darkblue;
}
