.totalAsset_chart{
    width:80%;
    margin-top: 3%;
    height: 80rem;
    border:1px solid silver;
    border-radius: 3rem;
    padding : 5%;
    margin-left: 5%;

}

#totalAsset_pieChart {
    width: 100%;
    height: 77%;
}

#pie_legend_div {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }

.pie_legend_box {
    width: 23%;
    height: 2.5rem;
    border-width: 1%;
    border-radius: 1rem;
    border-color: gray;
    display:inline-table;
    font-size : 3.5rem;
    text-align: center;
    vertical-align: center;
    
  }

.legend_content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding : 1rem;
    color : white;
}

.pention_chart {
    width:80%;
    margin-top: 3%;
    height: 80rem;
    border:1px solid silver;
    border-radius: 3rem;
    padding : 5%;
    margin-left: 5%;

}

#pention_barchart{
    width: 100%;
    height: 75%;
}

.pentionTable {
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size : 3.5rem;
    height:30%;
}

.pentionTable_tdtr {
    padding: 1%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    
  }